.container {
	padding: 0 2rem;
	background-color: #282a81;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	color: #edf3ff;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

.title {
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 0 0 1rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.column {
	margin: 1rem 0;
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.address {
	color: #7a8fff;
}
